.btn{
  padding: 0.5rem;
  background-color: lightpink;
  text-decoration: none;
}
.navbar{
  display: flex;
  /* background-color: gray; */
}
.navbar a{
margin: 0 1rem;
}
a{
  text-decoration: none;
}
.link{
  color: grey;
  text-decoration: none;
}
.active{
  color: red;
  /* text-decoration: none; */

}

/* single product */
.singleproduct img{
  display: block;
  width: 100%;
}
.singleproduct a{
  text-decoration: none;
}